<%= form_tag login_path do %>

  <div class="field">
    <%= label_tag :username %><br>
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>

    <%= submit_tag "Submit" %>
    <button name="button"><%= link_to('Create new account', new_user_path) %></button>
<% end %>
