

<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= react_component ("Navigation") %>
    </div>
        <!-- <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href='/about'>About</a></li>
              <li><a href='/home'>Home</a></li>
              <li><a href='/login'>Login</a></li>
              <li><a href='/logout'>Logout</a></li>
              <li><a href='/chats'>Chats</a></li>
            </ul>
          </div>
        </nav> -->
    <div class="container">
      <p id="notice"><%= notice %></p> <!--this should be green-->
      <p id="alert"><%= alert %></p> <!--this should be red-->


      <%= yield %>

    </div>
  </body>


  <footer>
    <%= "User logged in: #{current_user.username}" if current_user %>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
