

<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <div class="container" style="border:1px solid black">
    <body>
      <%= react_component("Navigation") %>
      <div class='container'>
        <div class='row'>
          <div class='m12'>
            <%= yield %>
          </div>
        </div>
      </div>
    </body>
  </div>

  <footer>
    <%= "User logged in: #{current_user.username}" if current_user %>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>
